body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}
.header {
  height: 90px;
  background-color: #26d0c9;
  color: white;
}
.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  float: left;
}
.header-list  {
  float: right;
}
.herder-list li {
  float: left;
  padding: 33px 20px;
}
.main {
  padding: 100px 80px;
}
.copy-container h1 {
  font-size: 100px;
}
.copy-container h2 {
  font-size: 30px;
}
.copy-container span {
  color: red;
}
.contents {
  height: 500px;
  margin-top: 100px;
}
.section-title {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 2px solid red;
}
.contents-item {
  float: left;
  margin-right: 40px;
}
.contact-form {
  padding-top: 100px;
}
input,textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec
}
.contact-submit {
  background-color: #2f5167;
  color: #fff;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}
.footer-logo {
  float: left;
  font-size: 32px;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-bottom :20px;
}
